* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    height: 100vh;
    background: url("C:\Users\danie\Documents\Website Design and Projects\Silas Landscaping\Website\Silas-Landscaping\images\big-multi-generation-family-having-picnic-lawn-backyard-warm-summer-day-banner.jpg");
   }