@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-green-light: #8CC33C;
    --clr-green-dark: #156236;
    --clr-blue-light: #98B5F3;    
    --clr-blue-dark: #14213C;
    --clr-detail-graygreen: #809880;
    --clr-detail-bonegreen: #D2D6B0;
    --font-size: 10px;
}

html {
    font-size: var(--font-size);
    font-family: 'Poppins', sans-serif;
    max-width: 1920px; 
    scroll-behavior: smooth;
    height: 100px;
    margin: auto;
    margin-top: 5%;
}



.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
 /**** Navigation Bar ****/
nav {
    position: fixed;
    display: flex;
    background-color: rgba(255, 255, 255, 0.99);
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    top: 0;
    width: 100%;
    max-width: 1920px;
    padding-left: 5%;
    padding-right: 5%;
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: var(--clr-green-dark);
    border-radius: 10px;
}

.nav--link {
    margin-left: 30px;
}

.logo {
    width: 250px;
    margin-top: 5%;
    margin-bottom: 5%;
}

a {
    color: black;
}

.ul--links {
    display: flex;
    font-size: 2.5em;
}

.nav--links a {
    text-decoration: none;
}

.nav--links li {
    list-style: none;
}

.call-to-action {
    background-color: var(--clr-green-light);
    padding: 1px 25px 1px 25px;
    border-radius: 35px;
    font-weight: 500;
    color: white;
    border-style: solid;
    border-width: 3px;
    border-color: var(--clr-green-light);
}

.call-to-action:hover {
    color: var(--clr-green-light);
    background-color: white;
    font-weight: 500;
    border-style: solid;
    border-width: 3px;
    border-color: var(--clr-green-light);
}

/**** Hero Section ****/


.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero--info {
    font-size: 2.5rem;
    color: white;
    top: 50px;
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;
}

.hero--info-heading {
    width: 100%;
}

.hero--info-subheading {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hero--img {
    width: 100%;
    max-width: 1920px;
    position: absolute;
    z-index: -1;    
}

.hero--img img {
    height: 100%;
    width: 100%;
}

.call-to-action--call-now {
    color: var(--clr-green-dark);
    background-color: white;
    font-weight: 500;
    border-style: solid;
    border-width: 4px;
    border-color: var(--clr-green-light);
    padding: 5px 25px 5px 25px;
    text-decoration: none;
    margin-bottom: 1px;
}

.call-to-action--call-now:hover {
    background-color: var(--clr-green-light);
    color: white;
    border-style: solid;
    border-width: 4px;
    border-color: white;
}

/**** About Section ****/ 
 
.about {
    display: flex;
    margin-top: 11%;
    font-size: var(--font-size);
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    margin-bottom: 10%;
}

.logo--decoration-container {
    width: 100%;
    
}

.logo-decorated {
    margin-left: 10%;
    width: 60%;
}

.about--info {
    width: 100%;
}

.green-decoration {
    width: 100%;
    height: 60px;
    background: var(--clr-green-light);
}

.about--info-heading {
    font-size: 6rem;
    padding-top: 30px;
    text-align: center;
}

.about--info-paragraph {
    font-size: 3rem;
    padding-top: 2%;
}

.about--info-subheading {
    font-size: 3rem;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 500;
}

/**** Services Section ****/ 

.services {
    width: 100%;
    margin-bottom: 8%;
    display: inline;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

.services--pictures-container-mobile {
    display: none;
}

.services--h1 {
    font-size: 7rem;
    font-weight: 500;
    
    text-align: center;
}

.services--pictures-container {
    margin-top: 5%;
    justify-content: center;
    width: 100%;
}

.pictures--row-of-3 {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    gap: 4rem;
}

.pictures--row-of-2 {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    gap: 4rem;
}


/**** Content Section ****/ 

.content {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 15%;
}

.call-to-action--2-mobile {
    display: none;
}

.content--section-1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}

.content--section-2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}

.content-picture {
    width: 35%;
}

.content--info-heading {
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: 10%;
    
}

.content--info-subheading {
    font-size: 4rem;
}


.call-to-action--2 {
    background-color: var(--clr-blue-dark);
    padding: 3px 25px 3px 25px;
    border-radius: 35px;
    font-weight: 500;
    color: white;
    margin-left: 40%;
    font-size: 1.7rem;
    text-decoration: none;
    border-style: solid;
    border-width: 3px;
    border-color: var(--clr-blue-dark);
}

.call-to-action--2:hover {
    color: var(--clr-blue-dark);
    background-color: white;
    font-weight: 500;
    border-style: solid;
    border-width: 3px;
    border-color: var(--clr-blue-dark);
}
/**** Blue Decorations ****/ 

.blue--decoration-1-container {
    width: 100%;
    max-width: 1920px;
    position: absolute;
    z-index: -1;
}

.blue--decoration-1 {
    width: 100%;
}

.blue--decoration-2-container {
    width: 100%;
    max-width: 1920px;
    position: absolute;
    z-index: -3;
    top: 4000px;

}

.blue--decoration-2 {
    width: 100%;
}

/**** Contact Information Section ****/

.contact-information {
    width: 100%;
    text-align: center;
}

.contact-information--h1 {
    font-size: 7rem;
    font-weight: 500;
}

.contact-information--content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    font-size: 2rem;
}

.icon-container {
    display: flex;
    align-items: center;
    padding-top: 7%;
}

.contact-information--icon {
    width: 17%;
    margin-right: 7%;
}

.map.container {
    width: 100%;

}

.contact--h1 {
    margin-bottom: 2%;
}

.contact-information--social-media {
    margin-top: 5%;
}

.social-media--icon {
    width: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

/**** Footer ****/

footer {
    width: 100%;
    margin-top: 2%;
    background-color: var(--clr-blue-dark);
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.main--footer {
    padding-left: 3%;
}
/**** contact.html ****/

/**** contact navbar ****/
.contact--navbar {
    position: fixed;
    display: flex;
    height: 8%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    top: 0;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 1920px;
}

.arrow {
    width: 50px;
}

.contact--call-to-action {
    background-color: var(--clr-green-light);
    padding: 1px 25px 1px 25px;
    border-radius: 35px;
    font-weight: 500;
    color: white;
    border-style: solid;
    border-width: 3px;
    border-color: var(--clr-green-light);
    font-size: 1.7rem;
    text-decoration: none;
}

.contact--call-to-action:hover {
    color: var(--clr-green-light);
    background-color: white;
    font-weight: 500;
    border-style: solid;
    border-width: 3px;
    border-color: var(--clr-green-light);
}

/**** contact Main ****/

.contact--html {
    margin-top: 5%;
    max-width: 1920px;
}

.contact--main {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

.contact--main-container{ 
    width: 100%;
}

.contact--h1 {
    font-size: 4rem;
    font-weight: 500;
}

.contact--p {
    font-size: 2rem;
    width: 80%;
}

.contact--social-media {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

.contact--social-media-icon-container {
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}

.contact--social-media-icon {
    width: 120px;
    margin-top: 30%;
}

.contact--icon-container {
    display: flex;
    align-items: center;
    font-size: 1.9rem;
    margin-top: 7%;
}

.contact-information--icon {
    width: 80px;
}

.contact--information {
    margin-top: 20px;
}

.contact--form {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    margin-left: 5%;
}

.form {
    width: 100%;
    align-items: center;
    background-image: linear-gradient(135deg, rgba(140,195,60,.4), rgba(140,195,60,.6));
    border-color: #FFFFFF;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255, 0.3);
    text-align: center;
    padding: 5%;
    font-size: 1.7rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 15px;
  border-color: #FFFFFF;
}

.input-container {
    margin-top: 5%;
    text-align: left;
}

.inputArea-text {
    height: 2000px;
}

input {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1%;
}

.contact--submit-button {
    background-image: linear-gradient(90deg, rgba(140,195,60,.2), rgba(140,195,60,.4));
    border-color: #FFFFFF;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    width: 100px;
    margin-top: 5%;
}

.blue--decoration-3-container {
    width: 100%;
    max-width: 1920px;
    position: absolute;
    z-index: -9;
    bottom: 50%;
}

.blue--decoration-3 {
    width: 100%;
}

.contact--footer {
    margin-top: 2%;
    background-color: var(--clr-blue-dark);
    color: white;
    height: 50px;
    position: absolute;
    font-size: 1.5rem;
    width: 100%;
    max-width: 1920px;
}

.footer--p {
    margin-left: 3%;
}

.inputarea--text {
    height: 50px;
}



@media (max-width: 1200px) {
    nav {
        padding-left: 0%;
        padding-right: 0%;
    }

    .toggle-button {
        display: flex;
        top: 2.5rem;
        right: 3rem;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        width: 230px;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
    }

    .nav--links {
        display: none;
        width: 100%;
    }

    .hero--info {
        font-size: 2rem;
        
    }

    .hero {
        margin-top: 6%;
    }

    .services--h1, .contact-information--h1 {
        font-size: 5rem;
    }
    .content--info-subheading, .content--info-heading {
        font-size: 4rem;
    }

    .services--pictures {
        width: 250px;
    }

    .nav--links ul{
        width: 100%;
        flex-direction: column;
        
    }

    .nav--links li {
        text-align: center;
        padding: .5rem 1rem;
    }
    
    .nav--links.active {
        display: flex;
    }

    .content--section-1 {
        flex-direction: column;
        text-align: center;
    }

    .content--section-2 {
        flex-direction: column-reverse;
        text-align: center;
        margin-bottom: 10%;
    }

    
    .call-to-action--2 {
        display: none;
    }

    .call-to-action--2-mobile {
        display: inline;
        background-color: var(--clr-blue-dark);
        padding: 5px 35px 5px 35px;
        border-radius: 35px;
        font-weight: 500;
        color: white;
        margin-left: 40%;
        font-size: 1.7rem;
        text-decoration: none;
        border-style: solid;
        border-width: 3px;
        border-color: var(--clr-blue-dark);
    }
    
    .call-to-action--2-mobile:hover {
        color: var(--clr-blue-dark);
        background-color: white;
        font-weight: 500;
        border-style: solid;
        border-width: 3px;
        border-color: var(--clr-blue-dark);
    }

    .contact-information {
        margin-top: 7%;
    }

    



    .contact-information--content {
        flex-direction: column;
    }

    .contact-information--info {
        margin-left: 30%;
        margin-bottom: 5%;
        flex-direction: inline;
    }

    .contact--main {
        display: inline;
    }

    .contact--main-container {
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 3%;
    }

    .contact--form {
        margin-left: 10%;
        margin-right: 5%;
        margin-top: 10%;
        width: 80%;
    }

    .contact--logo {
        display: none;
    }
    
    .arrow {
        width: 35px;
    }

    .contact--social-media-icon {
        width: 50px;
    }
}

@media (max-width: 950px) {
    header {
        background-color: var(--clr-green-dark);

    }

    .hero--img {
        display: none;
    }

    .hero--info {
        font-size: 2.5rem;
        top: 50px;
        left: 0;
        width: 80%;
        text-align: center;
    }
    
    .call-to-action--call-now {
        border-radius: 50px;
    }

    .hero--info-subheading {
        margin-bottom: 40px;
    }

    .call-to-action--call-now:hover {
        border-color: var(--clr-green-dark);
    }

    .about {
        flex-direction: column;
        margin-top: 5%;
    }

    .green-decoration {
        display: none;
    }

    .mobile--green-decoration {
        width: 100%;
        height: 40px;
        background: var(--clr-green-light);
    }

    .logo--decoration-container {
        margin-top: 5%;
        width: 60%;
    }

    .services--h1 {
        font-size: 6rem;
    }

    .services--pictures-container {
        display: none;
    }

    .services--pictures-container-mobile {
        display: inline;
    }

    .icon-container {
        align-items: center;
        justify-content: center;
    }

    .contact-information--content {
        display: inline;
    }

    .contact-information--info {
        margin-left: 0;
    }

    .contact-information--icon {
        width: 50px;
    }

    .map {
        width: 400px;
    }

    footer {
        font-size: 1.2rem;
    }

    .content-picture {
        width: 50%;
    }

    .social-media--icon {
        width: 8%;
    }

}

@media (max-width: 700px) {
    .blue--decoration-2-container {
        top: 2350px;
    
    }

    .pictures--row-of-2 {
        margin-top: 2rem;
    }

    .hero--info {
        font-size: 2rem;
    }

    .call-to-action--call-now {
        font-size: 1.7rem;
    }

    .about--info-heading {
        font-size: 4rem;
    }
    
    .about--info-paragraph {
        font-size: 2rem;
    }
    
    .about--info-subheading {
        font-size: 2rem;
    }

    .services--h1 {
        font-size: 4rem;
    }

    .content--info-heading {
        font-size: 4rem;
    }
    
    .content--info-subheading {
        font-size: 3.5rem;
    }

    .contact-information--h1 {
        font-size: 4rem;
    }
    
    .contact-information--content {
        font-size: 2rem;
    }

    .call-to-action--2-mobile {
        margin-left: 30%;
        font-size: 1.5rem;
    }

}


@media (max-width: 575.98px) {
    .nav--link {
        margin-left: 30px;
    }
    
    .logo {
        width: 150px;
    }
    
    .toggle-button {
        top: 1.5rem;
        right: 4rem;
    }

    a {
        color: black;
    }
    
    .services--pictures {
        width: 150px;
    }

    header {
        background-color: var(--clr-green-dark);
    }


    .hero--img {
        display: none;
    }

    .map {
        width: 250px;
    }

    .social-media--icon {
        width: 12%;
    }

    .hero--info {
        font-size: 1.5rem;
    }

    .call-to-action--call-now {
        font-size: 1.2rem;
    }

    .about--info-heading {
        font-size: 3rem;
    }
    
    .about--info-paragraph {
        font-size: 1.5rem;
    }
    
    .about--info-subheading {
        font-size: 1.5rem;
    }

    .services--h1 {
        font-size: 3rem;
    }

    .content--info-heading {
        font-size: 3rem;
    }
    
    .content--info-subheading {
        font-size: 2.5rem;
    }

    .contact-information--h1 {
        font-size: 3rem;
    }
    
    .contact-information--content {
        font-size: 1.5rem;
    }

    .contact--h1 {
        font-size: 3rem;
    }

    .call-to-action--2-mobile {
        margin-left: 30%;
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    .services--pictures {
        width: 120px;
    }
}
